:host::ng-deep {
  .score-less-40 {
    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
      color: #f44336 !important;
    }
    .mat-form-field.mat-focused .mat-form-field-label {
      color: #f44336 !important;
    }
    .mat-progress-bar.mat-warn {
      .mat-progress-bar-buffer {
        background-color: #ffcdd2 !important;
      }
      .mat-progress-bar-fill::after {
        background-color: #f44336 !important;
      }
    }
  }
  .score-less-80 {
    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
      color: #673ab7 !important;
    }
    .mat-form-field.mat-focused .mat-form-field-label {
      color: #673ab7 !important;
    }
    .mat-progress-bar.mat-warn {
      .mat-progress-bar-buffer {
        background-color: #d1c4e9 !important;
      }
      .mat-progress-bar-fill::after {
        background-color: #673ab7 !important;
      }
    }
  }
  .score-more-80 {
    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
      color: #4caf50 !important;
    }
    .mat-form-field.mat-focused .mat-form-field-label {
      color: #4caf50 !important;
    }
    .mat-progress-bar.mat-warn {
      .mat-progress-bar-buffer {
        background-color: #a5d6a7 !important;
      }
      .mat-progress-bar-fill::after {
        background-color: #4caf50 !important;
      }
    }
  }
}
